update 14 TaxiDriverSystem/TaxiDriverSystem/Service References/SQLWebServiceReference5/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertStartDay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertStartDayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertStartDayResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertEndDay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertEndDayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertEndDayResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertJourneyStart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertJourneyStartResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertJourneyStartResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertJourneyEnd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertJourneyEndResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertJourneyEndResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JourneyID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="D_ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JourneyIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="JourneyIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="driverstartdaycheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="D_ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="driverstartdaycheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="driverstartdaycheckResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="driverLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="driverLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="driverLoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DriverID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DriverIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DriverIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HoursWord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="D_ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HoursWordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HoursWordResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="InsertStartDaySoapIn">
    <wsdl:part name="parameters" element="tns:InsertStartDay" />
  </wsdl:message>
  <wsdl:message name="InsertStartDaySoapOut">
    <wsdl:part name="parameters" element="tns:InsertStartDayResponse" />
  </wsdl:message>
  <wsdl:message name="InsertEndDaySoapIn">
    <wsdl:part name="parameters" element="tns:InsertEndDay" />
  </wsdl:message>
  <wsdl:message name="InsertEndDaySoapOut">
    <wsdl:part name="parameters" element="tns:InsertEndDayResponse" />
  </wsdl:message>
  <wsdl:message name="InsertJourneyStartSoapIn">
    <wsdl:part name="parameters" element="tns:InsertJourneyStart" />
  </wsdl:message>
  <wsdl:message name="InsertJourneyStartSoapOut">
    <wsdl:part name="parameters" element="tns:InsertJourneyStartResponse" />
  </wsdl:message>
  <wsdl:message name="InsertJourneyEndSoapIn">
    <wsdl:part name="parameters" element="tns:InsertJourneyEnd" />
  </wsdl:message>
  <wsdl:message name="InsertJourneyEndSoapOut">
    <wsdl:part name="parameters" element="tns:InsertJourneyEndResponse" />
  </wsdl:message>
  <wsdl:message name="JourneyIDSoapIn">
    <wsdl:part name="parameters" element="tns:JourneyID" />
  </wsdl:message>
  <wsdl:message name="JourneyIDSoapOut">
    <wsdl:part name="parameters" element="tns:JourneyIDResponse" />
  </wsdl:message>
  <wsdl:message name="driverstartdaycheckSoapIn">
    <wsdl:part name="parameters" element="tns:driverstartdaycheck" />
  </wsdl:message>
  <wsdl:message name="driverstartdaycheckSoapOut">
    <wsdl:part name="parameters" element="tns:driverstartdaycheckResponse" />
  </wsdl:message>
  <wsdl:message name="driverLoginSoapIn">
    <wsdl:part name="parameters" element="tns:driverLogin" />
  </wsdl:message>
  <wsdl:message name="driverLoginSoapOut">
    <wsdl:part name="parameters" element="tns:driverLoginResponse" />
  </wsdl:message>
  <wsdl:message name="DriverIDSoapIn">
    <wsdl:part name="parameters" element="tns:DriverID" />
  </wsdl:message>
  <wsdl:message name="DriverIDSoapOut">
    <wsdl:part name="parameters" element="tns:DriverIDResponse" />
  </wsdl:message>
  <wsdl:message name="HoursWordSoapIn">
    <wsdl:part name="parameters" element="tns:HoursWord" />
  </wsdl:message>
  <wsdl:message name="HoursWordSoapOut">
    <wsdl:part name="parameters" element="tns:HoursWordResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertStartDay">
      <wsdl:input message="tns:InsertStartDaySoapIn" />
      <wsdl:output message="tns:InsertStartDaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertEndDay">
      <wsdl:input message="tns:InsertEndDaySoapIn" />
      <wsdl:output message="tns:InsertEndDaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertJourneyStart">
      <wsdl:input message="tns:InsertJourneyStartSoapIn" />
      <wsdl:output message="tns:InsertJourneyStartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertJourneyEnd">
      <wsdl:input message="tns:InsertJourneyEndSoapIn" />
      <wsdl:output message="tns:InsertJourneyEndSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="JourneyID">
      <wsdl:input message="tns:JourneyIDSoapIn" />
      <wsdl:output message="tns:JourneyIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="driverstartdaycheck">
      <wsdl:input message="tns:driverstartdaycheckSoapIn" />
      <wsdl:output message="tns:driverstartdaycheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="driverLogin">
      <wsdl:input message="tns:driverLoginSoapIn" />
      <wsdl:output message="tns:driverLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DriverID">
      <wsdl:input message="tns:DriverIDSoapIn" />
      <wsdl:output message="tns:DriverIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HoursWord">
      <wsdl:input message="tns:HoursWordSoapIn" />
      <wsdl:output message="tns:HoursWordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertStartDay">
      <soap:operation soapAction="http://tempuri.org/InsertStartDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEndDay">
      <soap:operation soapAction="http://tempuri.org/InsertEndDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertJourneyStart">
      <soap:operation soapAction="http://tempuri.org/InsertJourneyStart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertJourneyEnd">
      <soap:operation soapAction="http://tempuri.org/InsertJourneyEnd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JourneyID">
      <soap:operation soapAction="http://tempuri.org/JourneyID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="driverstartdaycheck">
      <soap:operation soapAction="http://tempuri.org/driverstartdaycheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="driverLogin">
      <soap:operation soapAction="http://tempuri.org/driverLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DriverID">
      <soap:operation soapAction="http://tempuri.org/DriverID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HoursWord">
      <soap:operation soapAction="http://tempuri.org/HoursWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertStartDay">
      <soap12:operation soapAction="http://tempuri.org/InsertStartDay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEndDay">
      <soap12:operation soapAction="http://tempuri.org/InsertEndDay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertJourneyStart">
      <soap12:operation soapAction="http://tempuri.org/InsertJourneyStart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertJourneyEnd">
      <soap12:operation soapAction="http://tempuri.org/InsertJourneyEnd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JourneyID">
      <soap12:operation soapAction="http://tempuri.org/JourneyID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="driverstartdaycheck">
      <soap12:operation soapAction="http://tempuri.org/driverstartdaycheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="driverLogin">
      <soap12:operation soapAction="http://tempuri.org/driverLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DriverID">
      <soap12:operation soapAction="http://tempuri.org/DriverID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HoursWord">
      <soap12:operation soapAction="http://tempuri.org/HoursWord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:19756/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:19756/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>